body
{
    margin: 50px;
    padding: 50px;
    text-align: center;
    border: 5px solid rgb(0, 0, 0);
    border-radius: 50px ;
}

#myList
{
    list-style: none;
}

button
{
    background-color: bisque;
    border-radius: 5px;
}

li 
{
    margin: 5px;
}